body {
  background-color: lightcoral;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 20px 150px 100px 80px;
}

h1.center {
  margin: auto;
  width: 50%;
  text-align: center;
}
