body {
    background-color: lightcoral;
  }
  h1 {
    color: white;
    text-align: center;
  }
  p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }

  p {
    margin-top: 20px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }
  .center {
    margin: auto;
    width: 50%;
  }